In [1]:
import pandas  as pd
url='https://raw.githubusercontent.com/codebasics/py/refs/heads/master/ML/14_naive_bayes/spam.csv'
df=pd.read_csv(url)
df.head(3)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [ ]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [ ]:
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head(2)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.spam)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

AttributeError: 'numpy.ndarray' object has no attribute '_validate_params'

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

NameError: name 'X_train_count' is not defined